body {
    background-image: url(Better-Call-Saul-TV-show-on-AMC-season-2.jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.branding ul {
list-style-type: none;
 margin:0;
 padding:0;
 overflow:hidden;
 font-size: 1.5em;
 font-family: Sky Text, Helvetica, Ariel;
}

.branding li {
    float: left;
}

.branding li img {
    width: 400px;
    position: absolute;
    margin-left: 7%;
    top: 2%;
}



/*
ul {
 list-style-type: none;
 margin:0;
 padding:0;
 overflow:hidden;
 font-size: 1.5em;
 font-family: sans-serif;
}

li {
 float:left;

}

li img {
 width: 400px;
    position: absolute;
    margin-left: 10%;
    top: 2%;
}
*/

#logoText {
 position: absolute;
 left: 17.5%;
 top: 7.5%;
 font-weight: 500;
 font-size: 24px;
 line-height: 20px;
 color: rgb(192, 93, 36);
}

.loginContainer {
    color: white;
    width: 20em;
    position: absolute;
    color: white;
    left: 35%;
    top: 22.5%;
}

#loginTitle {
    font-family: sans-serif;
    color: white;
    text-align: center;
    text-decoration: underline;
}

#regHere {
    font-family: sans-serif;
    color: white;
    text-align: center;
}


p a:hover {
    text-decoration: underline;
}

p a:link {
    text-decoration: underline;
    color: white;
}

p a:visited {
    color: white;
}

[type=text] {
    font-family: sans-serif;
    color: grey;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 100%;
}


[type=email] {
    font-family: sans-serif;
    color: grey;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 100%;
 }

[type=password] {
    font-family: sans-serif;
    color: grey;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 100%;
}

[type=button]{
    display: block;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    background-color: #aeb5bc;
    color:#f7f7f7;
    width: 150px;
    position: absolute;
    left: 27%;
}

#submit-button {
    display: block;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    background-color: #aeb5bc;
    color:#f7f7f7;
    width: 150px;
    position: absolute;
    left: 27%;
}
