body {
    background-image: url(failing-entrepreneur.jpg);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}

.branding ul {
list-style-type: none;
 margin:0;
 padding:0;
 overflow:hidden;
 font-size: 1.5em;
 font-family: Sky Text, Helvetica, Ariel;
}

.branding li {
    float: left;
}

.branding li img {
    width: 400px;
    position: absolute;
    margin-left: 10%;
    top: 2%;
}
/*
ul {
 list-style-type: none;
 margin:0;
 padding:0;
 overflow:hidden;
 font-size: 1.5em;
 font-family: sans-serif;
}

li {
 float:left;

}

li img {
 width: 400px;
    position: absolute;
    margin-left: 10%;
    top: 2%;
}
*/


.Container {
    color: #464646;
    width: 47.5em;
    position: absolute;
    left: 45%;
    top: 7.5%;
     font-family: Sky Text, Helvetica, Ariel;

}

#Title {
    font-family: Sky Text, Helvetica, Ariel;
    color: #464646;
    font-size: 1.5em;
    text-decoration: underline;
}

#subTitle {
    font-weight: bold;
    font-size: 2.5em;
}

ol li {
    list-style-type: none;
}

ol ul li {
    list-style: circle;
}

#reason {
    font-size: 2em;
}
#explain {
    list-style-position: inside;
}
#contact {
    
}

h2 a:hover {
    text-decoration: underline;
}

h2 a:link {
    text-decoration: underline;
    color: black;
}

h2 a:visited {
    color: black;
}

[type=text] {
    font-family: sans-serif;
    color: grey;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 100%;
}


[type=email] {
    font-family: sans-serif;
    color: grey;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 100%;
 }

[type=password] {
    font-family: sans-serif;
    color: grey;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 100%;
}

[type=button]{
    display: block;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    background-color: #aeb5bc;
    color:#f7f7f7;
    width: 150px;
    position: absolute;
    left: 27%;
}

#submit-button {
    display: block;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    background-color: #aeb5bc;
    color:#f7f7f7;
    width: 150px;
    position: absolute;
    left: 27%;
}
